<div class="row">

  <div class="col-md-11 col-md-offset-1">

    <div class="portlet box grey">
      <% content_for(:portlet_actions, flush: true) do %>
        <%= link_to financor.new_invoice_involine_path(invoice), remote: true, class: "btn green btn-sm" do %>
          <%= iconed_link_label(Financor::Involine.model_name.human, "fa-plus", "add") %>
        <% end %>
      <% end %>
      <%= render "shared/portlet_title", title: t("involines.title.involines") %>

      <div id="invoice_<%= invoice.id %>_involines_list" class="portlet-body">
        <%= render "financor/involines/list", objects: invoice.involines %>
      </div>
      <div id="invoice_<%= invoice.id %>_new_involine_div" class="portlet-body">
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <%= render "nimbos/comments/commentable", object: invoice %>
      </div>
    </div>

  </div>
</div>
