<div class="portlet box green">
  <%= render "shared/portlet_title", title: t("invoices.title.invoices") %>

  <div class="portlet-body form">
    <%= simple_form_for @invoice, :html => { class: 'form-inline' }, :validate => true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence %>

      <div class="form-body">

        <div class="row" style="margin-bottom:40px;">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :debit_credit, as: :select, collection: Financor::Invoice.debit_credit_types.map { |t| [t("invoices.debit_credit_types.#{t}"), t] }, label: t("invoices.label.debit_credit") %>
              </div>
              <div class="col-md-6">
                <%= f.input :invoice_type, as: :select, collection: Financor::Invoice.invoice_types.map { |t| [t("invoices.invoice_types.#{t}"), t] }, label: t("invoices.label.invoice_type") %>
              </div>
            </div>
            <%= f.input :company_id, label: t("invoices.label.company"), input_html: { class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("invoices.placeholder.company") } %>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <%= f.input :name, label: t("invoices.label.name") %>
            <%= f.input :invoice_date, as: :string, input_html: { class: "datepicker" }, label: t("invoices.label.invoice_date") %>
            <%= f.input :curr, as: :select, collection: Nimbos::Currency.all, label: t("invoices.label.curr") %>
            <%#= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("invoices.label.notes") %>
          </div>
        </div>
        <% if params[:action] != "edit" %>
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t("involines.label.name") %></th>
                  <th><%= t("involines.label.notes") %></th>
                  <th><%= t("involines.label.unit_number") %></th>
                  <th><%= t("involines.label.unit_price") %></th>
                  <th><%= t("involines.label.tax") %> <%= link_to financor.taxcodes_path, remote: true do %><i class="fa fa-gear"></i><% end %></th>
                  <th><%= t("involines.label.total_amount") %></th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :involines, validate: false do |inf| %>
                  <%= render 'financor/involines/involines_fields', :f => inf %>
                <% end %>
                <tr class="invoice-totals">
                  <td colspan="5"></td>
                  <td colspan="2">
                    <strong>Invoice Total:</strong>
                    <span id="invoice-total-cell" class="pull-right"></span>
                    <br>
                    <strong>VAT:</strong>
                    <span id="invoice-tax-cell" class="pull-right"></span>
                    <br>
                    <strong>Invoice Balance:</strong>
                    <span id="invoice-balance-cell" class="pull-right"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("invoices.label.notes") %>
          </div>
          <div class="col-md-3 col-md-offset-6">
            <%#= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("invoices.label.notes") %>
          </div>
        </div>

      </div>

      <div class="form-actions">
        <%= f.button :submit, t("invoices.action.save"), :class => 'btn btn-info' %>
        <a href="" class="btn"><%= t("defaults.link.cancel") %></a>
      </div>
    <% end %>
  </div>
</div>