<div class="portlet box green">
  <%= render "shared/portlet_title", title: t("invoices.title.invoices") %>

  <div class="portlet-body form">
    <%= simple_form_for @invoice, :html => { class: 'form-vertical' }, :validate => true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence %>

      <div class="form-body">

        <div class="row" style="margin-bottom:40px;">
          <div class="col-md-6">
            <%= f.input :company_id, as: :company %>
            <div class="row slidingDiv" id="invoice_company_financials">
              <div class="col-md-6">
                <%= f.input :invoice_title %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_taxoffice %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_taxno %>
              </div>
              <div class="col-md-6">
                <%= f.input :invoice_address, input_html: { rows: "1" } %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_city %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_country_id, as: :select, collection: Nimbos::Country.all, input_html: { class: "country_select" } %>
              </div>
              <%= f.input :invoice_financial_id, as: :hidden, label: false %>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :debit_credit, as: :select, collection: Financor::Invoice.debit_credit_types.map { |t| [t("invoices.debit_credit_types.#{t}"), t] } %>
              </div>
              <div class="col-md-6">
                <%= f.input :invoice_type, as: :select, collection: Financor::Invoice.invoice_types.map { |t| [t("invoices.invoice_types.#{t}"), t] } %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= f.input :name %>
              </div>
              <div class="col-md-4">
                <%= f.input :invoice_date, as: :string, input_html: { class: "datepicker" } %>
              </div>
              <div class="col-md-4">
                <%= f.input :curr, as: :select, collection: Nimbos::Currency.all %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :due_date, as: :string, input_html: { class: "datepicker" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false %>
              </div>
            </div>
            
            <%#= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("simple_form.labels.invoice.notes") %>
            <%= f.input :invoiced_type, as: :hidden, label: false %>
            <%= f.input :invoiced_id, as: :hidden, label: false %>
          </div>
        </div>
        <% if params[:action] != "edit" %>
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t("simple_form.labels.involine.name") %></th>
                  <th><%= t("simple_form.labels.involine.notes") %></th>
                  <th><%= t("simple_form.labels.involine.unit_number") %></th>
                  <th><%= t("simple_form.labels.involine.unit_type") %></th>
                  <th><%= t("simple_form.labels.involine.unit_price") %></th>
                  <th><%= t("simple_form.labels.involine.tax") %> <%= link_to financor.taxcodes_path, remote: true do %><i class="fa fa-gear"></i><% end %></th>
                  <th><%= t("involines.label.total_amount") %></th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :involines, validate: false do |inf| %>
                  <%= render 'financor/involines/involines_fields', :f => inf %>
                <% end %>
                <tr class="invoice-totals">
                  <td colspan="5">
                    <%= link_to t("involines.label.add_involine"), "#", class: "btn green", id: "new_invoice_line_btn" %>
                  </td>
                  <td colspan="2">
                    <strong><%= t("simple_form.labels.invoice.sub_total") %>:</strong>
                    <span id="invoice-total-cell" class="pull-right"></span>
                    <br>
                    <strong><%= t("simple_form.labels.invoice.vat_total") %>:</strong>
                    <span id="invoice-tax-cell" class="pull-right"></span>
                    <br>
                    <strong><%= t("simple_form.labels.invoice.net_total") %>:</strong>
                    <span id="invoice-balance-cell" class="pull-right"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("simple_form.labels.invoice.notes") %>
          </div>
          <div class="col-md-3 col-md-offset-6">
            <%#= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("simple_form.labels.invoice.notes") %>
          </div>
        </div>

      </div>

      <div class="form-actions">
        <%= f.button :submit, t("invoices.action.save"), :class => 'btn btn-info' %>
        <a href="" class="btn"><%= t("defaults.link.cancel") %></a>
      </div>
    <% end %>
  </div>
</div>