<div class="portlet box green">
  <%= render "shared/portlet_title", title: Financor::Invoice.model_name.human(count: 2) %>

  <div class="portlet-body form">
    <%= simple_form_for @invoice, :html => { class: 'form-vertical' }, :validate => true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>

      <div class="form-body">

        <div class="row" style="margin-bottom:40px;">
          <div class="col-md-6">
            <%= f.input :company_id, as: :company, "initial-text" => (@invoice.company.name if @invoice.company), "initial-id" => @invoice.company_id %>
            <div class="row slidingDiv" id="invoice_company_financials">
              <div class="col-md-6">
                <%= f.input :invoice_title %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_taxoffice %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_taxno %>
              </div>
              <div class="col-md-6">
                <%= f.input :invoice_address, input_html: { rows: "1" } %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_city %>
              </div>
              <div class="col-md-3">
                <%= f.input :invoice_country_id, as: :select, collection: Nimbos::Country.all, input_html: { class: "country_select" } %>
              </div>
              <%= f.input :invoice_financial_id, as: :hidden, label: false %>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-md-4">
                <%= f.input :debit_credit, as: :select, collection: [:debit, :credit], include_blank: false %>
              </div>
              <div class="col-md-4">
                <%= f.input :invoice_type, as: :select, collection: [:refundable, :nonrefund], include_blank: false %>
              </div>
              <div class="col-md-4">
                <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= f.input :name %>
              </div>
              <div class="col-md-4">
                <%= f.input :invoice_date, as: :string, input_html: { class: "datepicker" } %>
              </div>
              <div class="col-md-4">
                <%= f.input :due_date, as: :string, input_html: { class: "datepicker" } %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= f.input :curr, as: :select, collection: Nimbos::Currency.all, include_blank: false %>
              </div>
              <div class="col-md-4">
                <%= f.input :curr_rate, input_html: { readonly: true } %>
              </div>
              <div class="col-md-4">
                
              </div>
            </div>
            <%= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("simple_form.labels.invoice.notes") %>
            <%#= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("simple_form.labels.invoice.notes") %>
            <%= f.input :invoiced_type, as: :hidden, label: false %>
            <%= f.input :invoiced_id, as: :hidden, label: false %>
            <%= f.input :local_curr, as: :hidden, label: false %>
          </div>
        </div>
        <div class="row">
            <%= render 'financor/invoices/nested_involines', f: f %>
        </div>

      </div>

      <div class="form-actions">
        <%= f.button :submit, t("simple_form.helpers.defaults.save"), :class => 'btn btn-info' %>
        <%= render "shared/cancel_button" %>
      </div>
    <% end %>
  </div>
</div>