<div id="invoice_#{invoice.id}_profile_header" class="">

  <div class="col-md-1">
    <i class="fa fa-money fa-5x pull-right"></i>
  </div>

  <div class="col-md-7">
    <div class="profile-info">
        <h1>
          <%= invoice.name %>
        </h1>
        <p>
          <span class="text-muted" style="white-space:pre-wrap"><%= invoice.notes %></span>
        </p>
        <ul class="list-inline blog-tags">
          <li>
            <i class="fa fa-building-o"></i> <%= link_to company_name(invoice.company), network.company_path(invoice.company) %>
          </li>
          <li>
            <i class="fa fa-calendar"></i> <%= invoice.invoice_date %>
          </li>
          <li>
            <i class="fa fa-flag"></i> <%= t("simple_form.options.defaults.status.#{invoice.status}") %>
          </li>
          <% if invoice.invoiced %>
            <i class="fa fa-eject"></i> <%= link_to invoice.invoiced.to_s, polymorphic_url([logistics, invoice.invoiced]) %>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1" id="invoice_<%= invoice.id %>_totals">
    <%= render "totals", invoice: invoice %>
  </div>
  <hr>

</div>
