<div class="invoice">
	<div class="row invoice-logo">
		<div class="col-xs-6 invoice-logo-space">

		</div>
		<div class="col-xs-6">
			<p>
				<%= invoice.name %> / <%= invoice.invoice_date %>
				<span class="muted">
								Consectetuer adipiscing elit
				</span>
			</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-4">
			<h4>Client:</h4>
			<ul class="list-unstyled">
				<li>
					<%= company_name(invoice.company) %>
				</li>
				<li>
					<%= company_fulladdress(invoice.company) %>
				</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<h4>About:</h4>
			<ul class="list-unstyled">
				<li>
								Drem psum dolor sit amet
				</li>
				<li>
								Laoreet dolore magna
				</li>
				<li>
								Consectetuer adipiscing elit
				</li>
				<li>
								Magna aliquam tincidunt erat volutpat
				</li>
				<li>
								Olor sit amet adipiscing eli
				</li>
				<li>
								Laoreet dolore magna
				</li>
			</ul>
		</div>
		<div class="col-xs-4 invoice-payment">
			<h4>Payment Details:</h4>
			<ul class="list-unstyled">
				<li>
					<strong>V.A.T Reg #:</strong> 542554(DEMO)78
				</li>
				<li>
					<strong>Account Name:</strong> FoodMaster Ltd
				</li>
				<li>
					<strong>SWIFT code:</strong> 45454DEMO545DEMO
				</li>
				<li>
					<strong>V.A.T Reg #:</strong> 542554(DEMO)78
				</li>
				<li>
					<strong>Account Name:</strong> FoodMaster Ltd
				</li>
				<li>
					<strong>SWIFT code:</strong> 45454DEMO545DEMO
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					<%= t("involines.label.name") %>
				</th>
				<th class="hidden-480">
					<%= t("involines.label.notes") %>
				</th>
				<th class="hidden-480">
					<%= t("involines.label.unit_number") %>
				</th>
				<th class="hidden-480">
					<%= t("involines.label.unit_price") %>
				</th>
				<th>
					<%= t("involines.label.total_amount") %>
				</th>
			</tr>
			</thead>
				<tbody id="invoice_<%= invoice.id %>_involines">
					<%= render invoice.involines %>
					<tr>
						<td colspan="6"><span class="btn btn-info togglebutton" data-href="#add_invoice_line">Add invoice line</span><%#= link_to "Add invoice line", "#add_invoice_line", class: "togglebutton btn green" %></td>
					</tr>
					<tr>
						<td colspan="6">
							<div class="row">
							 <div id="add_invoice_line" class="col-md-12 slidingDiv">
   							<%= render "financor/involines/form" %>
							 </div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="well">
				<address>
				<strong><%= patron_title(current_patron) %></strong><br/>
				<%= patron_address(current_patron) %>
				<abbr title="Phone">P:</abbr> <%= current_patron.tel %> </address>
				<address>
				<strong><%= user_name(invoice.user) %></strong><br/>
				<%= mail_to invoice.user.email, invoice.user.email %>
				</address>
			</div>
		</div>
		<div class="col-xs-8 invoice-block">
			<ul class="list-unstyled amounts">
				<li>
					<strong>Sub - Total amount:</strong> <%= invoice.invoice_amount %>
				</li>
				<li>
					<strong>Discount:</strong> <%= invoice.discount_amount %>
				</li>
				<li>
					<strong>VAT:</strong> <%= invoice.tax_amount %>
				</li>
				<li>
					<strong>Grand Total:</strong> <%= invoice.invoice_amount %>
				</li>
			</ul>
			<br/>
			<a class="btn btn-lg blue hidden-print" onclick="javascript:window.print();">Print <i class="fa fa-print"></i></a>
			<a class="btn btn-lg green hidden-print">Submit Your Invoice <i class="fa fa-check"></i></a>
		</div>
	</div>
</div>