<div class="row">
	<div class="col-xs-12">
	  <div class="table-responsive" id="invoices_list_div">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th><%= t("simple_form.labels.invoice.name") %></th>
						<th class="hidden-480"><%= t("simple_form.labels.invoice.invoice_date") %></th>
						<th class="hidden-480"><%= t("simple_form.labels.invoice.company_id") %></th>
						<th class="hidden-480"><%= t("simple_form.labels.invoice.debit_credit") %></th>
						<th><%= t("simple_form.labels.invoice.net_total") %></th>
						<th><%= t("simple_form.labels.invoice.curr") %></th>
					</tr>
				</thead>
				<tbody>
					<% objects.each do |invoice| %>
					  <tr>
							<td><%= link_to invoice.name, financor.invoice_path(invoice) %></td>
							<td><%= invoice.invoice_date %></td>
							<td><%= link_to company_name(invoice.company), network.company_path(invoice.company) %></td>
							<td><%= t("invoices.debit_credit_types.#{invoice.debit_credit}") %></td>
							<td><%= invoice.invoice_amount %></td>
							<td><%= invoice.curr %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<% if objects.respond_to? :current_page %>
			  <div class: "pagination">
				  <%= paginate objects %>
				 </div>
			<% end %>
		</div>

		<div class="table-responsive col-md-2 col-md-offset-8" id="invoices_totals_list_div">
			<h4><%= t("simple_form.labels.defaults.total") %></h4>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<% objects.select("curr, sum(invoice_amount) as invoice_amount").group("curr").reorder("curr").each do |invoice_total| %>
					  <tr>
							<th><span class="pull-right"><%= print_price(invoice_total.invoice_amount, invoice_total.curr) %></span></th>
						</tr>
					<% end %>
				</thead>			
			</table>
		</div>

	</div>
</div>