<ul class="list-unstyled amounts pull-right">
	<li>
		<strong><%= t("simple_form.labels.invoice.sub_total") %>:</strong> <%= print_price(invoice_amount_without_taxes(invoice), invoice.curr) %>
	</li>
	<% if invoice.discount_amount > 0 %>
	<li>
		<strong>Discount:</strong> <%= print_price(invoice.discount_amount, invoice.curr) %>
	</li>
	<% end %>
	<li>
		<strong><%= t("simple_form.labels.invoice.vat_total") %>:</strong> <%= print_price(invoice.tax_amount, invoice.curr) %>
	</li>
	<li>
		<strong><%= t("simple_form.labels.invoice.net_total") %>:</strong> <%= print_price(invoice.invoice_amount, invoice.curr) %>
	</li>
</ul>
