<div id="invoice"> 
  <div id="invoice-header">
    <% if @invoice.debit_credit == "debit" %>
      <%= patron_logo(current_patron, "logo screen") %>
    <% end %>
    <!-- hCard microformat --> 
    <div class="vcard" id="company-address">
      <div class="fn org"><strong><%= patron_name(current_patron) %></strong></div>
      <div class="adr">
        <div class="street-address">
          <%= patron_address(current_patron) %>
        </div>
        <!-- street-address -->
        <!--div class="locality">Locality</div>
        <div id="company-postcode"><span class="region">Region</span> <span class="postal-code">EX12 8PZ</span></div-->
      </div>
      <!-- adr -->
      <div class="email"><%= @invoice.user.email %></div>
      <!--div id="sales-tax-reg-number">SALES TAX: 1234567</div-->
    </div>
    <!-- company-address vcard --> 
  </div> 
  <!-- #invoice-header --> 
  <div id="invoice-info"> 
    <h2>Invoice <strong><%= @invoice.name %></strong></h2> 
    <h3><%= @invoice.invoice_date %></h3> 
    <p id="payment-terms">Payment Terms: 30 days</p> 
    <p id="payment-due">Payment due by 21 March 2008</p> 
	  <p id="payment-total">&#163;2643.75</p>
  </div>
  <!-- #invoice-info -->
  <div class="vcard" id="client-details">
    <div class="org"><%= company_name(@invoice.company) %></div>
    <!--div class="fn">John Doe</div-->
    <div class="adr">
      <div class="street-address">
        <%= company_fulladdress(@invoice.company) %>
      </div>
      <!-- street-address -->
      <!--div class="locality">LOCALITY</div>
      <div id="client-postcode"><span class="region">Region</span> <span class="postal-code">MV2 8SX</span></div-->
      <div id="your-tax-number"><%= "#{@invoice.company.financial.taxoffice} #{@invoice.company.financial.taxno}" if @invoice.company.financial %></div>
    </div>
    <!-- adr -->
  </div>
  <!-- #client-details vcard -->
  <table id="invoice-amount">
    <thead>
      <tr id="header_row">
        <th class="quantity_th"><%= t("involines.label.unit_number") %></th>
        <th class="left details_th"><%= t("involines.label.notes") %></th>
        <th class="unitprice_th"><%= t("involines.label.unit_price") %></th>
        <th class="salestax_th"><%= t("involines.label.tax") %></th>
        <th class="subtotal_th"><%= t("involines.label.total_amount") %></th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.involines.each do |involine| %>
      <tr class="">
        <td class="item_l"><%= involine.unit_number %> <%= t("involines.invoice_unit_types.#{involine.unit_type}") %></td>
        <td class="item_l"><%= involine.name %> <%= involine.notes %></td>
        <td class="item_r"><%= involine.unit_price %></td>
        <td class="item_r"><%= involine.vat_amount %></td>
        <td class="item_r"><%= involine.total_amount %></td>
      </tr>
      <% end %>
    </tbody>
 
    <tfoot>
      <tr id="net_total_tr">
        <td colspan="2">&nbsp;</td>
        <td colspan="2" class="total item_r"><%= t("invoices.label.sub_total") %></td>
        <td class="total item_r"><%= print_price(invoice_amount_without_taxes(@invoice), @invoice.curr) %></td>
      </tr>
      <tr id="net_total_tr">
        <td colspan="2">&nbsp;</td>
        <td colspan="2" class="total item_r"><%= t("invoices.label.vat_total") %></td>
        <td class="total item_r"><%= print_price(@invoice.tax_amount, @invoice.curr) %></td>
      </tr>
      <tr id="net_total_tr">
        <td colspan="2">&nbsp;</td>
        <td colspan="2" class="total item_r"><%= t("invoices.label.net_total") %></td>
        <td class="total item_r"><%= print_price(@invoice.invoice_amount, @invoice.curr) %></td>
      </tr>
    </tfoot>
  </table> 
  <!-- invoice-amount --> 
  <div id="invoice-other"> 
    <h2>Other Information</h2> 
    <div id="company-reg-number"><strong>Company Registration Number:</strong> 9273109</div>  
    <div id="contract-number"><strong>Contract/PO:</strong> PO 87227643</div> 
  </div> 
  <!-- invoice-other --> 
  <div id="payment-details"> 
    <h2>Payment Details</h2> 
    <div id="bank_name">Bank Name</div> 
    <div id="sort-code"><strong>Bank/Sort Code:</strong> 32-75-97</div> 
    <div id="account-number"><strong>Account Number:</strong> 28270761</div> 
    <div id="iban"><strong>IBAN:</strong> 973547</div> 
    <div id="bic"><strong>BIC:</strong> 220197</div> 
    <div id="payment-reference"><strong>Payment Reference:</strong> INV001</div> 
  </div> 
  <!-- payment-details --> 
  <div id="comments">Payment should be made by bank transfer or cheque made payable to John Smith.</div> 
  <!-- comments --> 
</div>