<div class="profile" id="finitem_<%= finitem.id %>_profile">

  <div class="col-md-12" id="finitem_<%= finitem.id %>_profile_header">
    <%= render partial: "header", locals: { finitem: finitem } %>
  </div>

  <div class="col-md-12" id="finitem_<%= finitem.id %>_profile_content">
    <%= render partial: "content", locals: { finitem: finitem } %>
  </div>

</div>