<div id="finitems_index">
  <%= render "shared/page_title", page_title: Financor::Finitem.model_name.human(count: 2), page_small_title: t("financor.defaults.intro_message"), model_name: "Financor::Finitem", model_path: "financor/finitems" %>
  <div class="inbox row">
  	 <div class="col-md-3">
      <ul class="inbox-nav margin-bottom-10">
        <li class="compose-btn">
          <%= link_to financor.new_finitem_path, class: "btn green" do %>
            <i class="fa fa-edit"></i> <%= t("simple_form.helpers.defaults.new", model: Financor::Finitem.model_name.human) %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <div class="inbox-header">
        <h1 class="pull-left"><small><%= t("simple_form.labels.defaults.list", model: Financor::Finitem.model_name.human) %></small></h1>
      </div>

      <div class="inbox-content" id="finitems_list">
        <%= render "financor/finitems/list", objects: @finitems %>
      </div>
    </div>
  </div>
</div>