<div class="profile" id="finpoint_<%= finpoint.id %>_profile">

  <div class="col-md-12" id="finpoint_<%= finpoint.id %>_profile_header">
    <%= render partial: "header", locals: { finpoint: finpoint } %>
  </div>

  <div class="col-md-12" id="finpoint_<%= finpoint.id %>_profile_content">
    <%= render partial: "content", locals: { finpoint: finpoint } %>
  </div>

</div>