<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @finpoint.title %>
</p>

<p>
  <strong>Point type:</strong>
  <%= @finpoint.point_type %>
</p>

<p>
  <strong>Curr:</strong>
  <%= @finpoint.curr %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @finpoint.reference %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @finpoint.bank %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @finpoint.branch %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @finpoint.manager %>
</p>


<%= link_to 'Edit', edit_finpoint_path(@finpoint) %> |
<%= link_to 'Back', finpoints_path %>
