<div class="portlet box green">
  <%= render "shared/portlet_title", title: t("budgetlines.title.new_budgetline") %>

  <div class="portlet-body form">
    <%= simple_form_for @budgetline, :html => {:class => 'horizontal-form'}, :validate => true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>

      <div class="form-body">

        <div class="row">
          <div class="col-md-8">
            <%= f.collection_radio_buttons :options, [["debit", t("budgetlines.label.debit")] ,["credit", t("budgetlines.label.credit")]], :first, :last %>
            <%= f.input :name, input_html: { class: "col-md-8" } %>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :amount %>
              </div>
              <div class="col-md-6">
                <%= f.input :curr, as: :select, collection: Nimbos::Currency.all %>
              </div>
            </div>
            <%= f.input :company_id, as: :company %>
            <%= f.input :line_group, input_html: { class: "col-md-8" } %>
            <%= f.input :notes, as: :text, input_html: { rows: "2" } %>
          </div>
        </div>

      </div>
      <div class="form-actions">
        <%= f.button :submit, t("budgetlines.action.create"), :class => 'btn btn-info' %>
        <%= render "shared/cancel_button" %>
      </div>
    <% end %>
  </div>
</div>
