<tr id="estimate_involine_<%= involine.id %>_div">
	<td><%= involine.finitem.code if involine.finitem %></td>
  <td><%= involine.name %></td>
  <td><%= company_name(involine.company) %></td>
  <td><%= t("simple_form.options.defaults.debit_credit.#{involine.debit_credit}") %></td>
  <td><%= involine.invoice if involine.invoice %></td>
	<td><%= involine.unit_number %> <%= t("simple_form.options.defaults.unit_type.#{involine.unit_type}") if involine.unit_type.present? %></td>
	<td><span class="pull-right"><%= involine.unit_price %> <%= involine.curr %></span></td>
	<td><span class="pull-right"><%= involine.vat_amount %> <%= involine.curr %></span></td>
	<td><span class="pull-right"><%= involine.total_amount %> <%= involine.curr %></span></td>
	<td class="hidden-print">
	  <% if (params[:action] == "estimates") || @invoice_id_changed %>
	    <%= link_to financor.involine_path(involine, "involine[invoice_id]" => @invoice.id, "invoice_id" => @invoice.id), remote: true, method: "put", data: {confirm: t("simple_form.messages.involine.add_to_invoice")}, title: t("simple_form.helpers.involine.add_to_invoice") do %>
		  	<i class="fa fa-arrow-up"></i>
		  <% end %>
	  <% else %>
			<%= link_to financor.edit_involine_path(involine), remote: true, title: t("simple_form.helpers.defaults.edit") do %>
			  <i class="fa fa-edit"></i>
			<% end %>		
			<%= link_to financor.involine_path(involine), method: :delete, remote: true, data: { confirm: t("simple_form.messages.defaults.destroy_confirm") }, title: t("simple_form.helpers.defaults.delete") do %>
			  <i class="fa fa-trash-o"></i>
			<% end %>
		<% end %>
	</td>
</tr>	    