    <%= simple_form_for [@invoice, @involine], html: { class: 'horizontal-form invoice-line' }, remote: true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>

      	<div class="form-body">
        <table>
          <tbody>
          	<%= render "financor/involines/form_fields", f: f %>
          </tbody>
        </table>
        </div>
        <%= f.input :isfrom, as: :hidden, input_html: { value: "manuel" } %>
      <div class="form-actions">
        <%= f.submit t("simple_form.helpers.submit.defaults.create"), class: 'btn btn-info' %>
        <a href="#" data-href="#new_involine_div" class="btn emptyDiv"><%= t("simple_form.helpers.defaults.close") %></a>
      </div>
    <% end %>
