<tr id="involine_<%= involine.id %>_div">
  <td><%= involine.name %></td>
  <td class="text-muted"><%= involine.notes %></td>
	<td><%= involine.unit_number %></td>
	<td><%= t("simple_form.options.defaults.unit_type.#{involine.unit_type}") %></td>
	<td><%= print_price(involine.unit_price, involine.curr) %></td>
	<td><%= print_price(involine.vat_amount, involine.curr) %></td>
	<td><%= print_price(involine.total_amount, involine.curr) %></td>
	<td class="hidden-print">
	  <% if @invoice_id_changed %>
	    <%= link_to financor.involine_path(involine, "involine[invoice_id]" => "", "invoice_id" => @invoice.id), remote: true, method: "put", data: {confirm: t("simple_form.messages.involine.remove_from_invoice")}, title: t("simple_form.helpers.involine.remove_from_invoice") do %>
		  	<i class="fa fa-arrow-down"></i>
		  <% end %>	    
	  <% else %>
			<%= link_to financor.edit_invoice_involine_path(involine.invoice, involine), remote: true, title: t("simple_form.helpers.defaults.edit") do %>
			  <i class="fa fa-edit"></i>
			<% end if involine.invoice %>
			<%= link_to financor.involine_path(involine), method: :delete, remote: true, data: { confirm: t("simple_form.messages.defaults.destroy_confirm") }, title: t("simple_form.helpers.defaults.delete") do %>
			  <i class="fa fa-trash-o"></i>
			<% end %>
		<% end %>
	</td>
</tr>