<tr>
	<td>
		
	</td>
	<td>
		<%= involine.name %>
	</td>
	<td class="hidden-480">
		<%= involine.notes %>
	</td>
	<td class="hidden-480">
		<%= involine.unit_number %> <%= involine.unit_type %>
	</td>
	<td class="hidden-480">
		<%= involine.unit_price %>
	</td>
	<td>
    <%= involine.total_amount %>
	</td>
</tr>