<tr id="involine_<%= involine.id %>_div">
  <td class="hidden-print"></td>
  <td><%= involine.name %></td>
  <td><%= involine.notes %></td>
	<td><%= involine.unit_number %> <%= t("involines.invoice_unit_types.#{involine.unit_type}") %></td>
	<td><%= involine.unit_price %></td>
	<td><%= involine.vat_amount %></td>
	<td><%= involine.total_amount %></td>
	<td class="hidden-print">
			<%= link_to financor.edit_invoice_involine_path(involine.invoice, involine), remote: true, title: t("defaults.link.edit") do %>
			  <i class="icon-edit"></i>
			<% end %>		
			<%= link_to [involine.invoice, involine], method: :delete, remote: true, data: { confirm: t("defaults.messages.destroy_confirm") }, title: t("defaults.link.destroy") do %>
			  <i class="icon-trash"></i>
			<% end %>
	</td>
</tr>