<% if @involine.errors.present? %>
  toastr.error('<%= j error_messages_for(@involine) %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= j error_messages_for(@involine) %></div>');
  $("#messages").fadeOut(4000);
<% else %>
  <% if @involine.invoice_id.present? %>
    $("#involines_table_body").append('<%= j render @involine %>');
    $("#invoice_<%= @invoice.id %>_totals").html('<%= j render "financor/invoices/totals", invoice: @invoice %>');
  <% else %>
    $("#involines_table_body").append('<%= j render "financor/involines/estimate", involine: @involine %>');
  <% end %>
  $('#new_involine').each(function() { this.reset(); });
  $("#involine_name").focus();
  toastr.info('<%= j flash[:notice] %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-notice"><%= j flash[:notice] %></div>');
  $("#messages").fadeOut(5000);
<% end %>
