<% if @involine.errors.present? %>
  toastr.error('<%= j error_messages_for(@involine) %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= j error_messages_for(@involine) %></div>');
  $("#messages").fadeOut(4000);
<% else %>
  $("#involine_<%= @involine.id %>_div").remove();
  $("invoice_<%= @invoice.id %>_totals").html('<%= j render "financor/invoices/totals", invoice: @invoice %>');
  toastr.info('<%= j flash[:notice] %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-notice"><%= j flash[:notice] %></div>');
  $("#messages").fadeOut(5000);
<% end %>